* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darksalmon;
}
.container-60 {
  width: 60%;
  margin: 0 auto;
}

.app {
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  margin-top: 60px;
  background-color: rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app ul {
  list-style: none;
}